[user]
  name = user
	email = <user@users.noreply.github.com>
[core]
  autocrlf = input
  safecrlf = warn
  quotepath = off
	excludesFile = ~/.gitignore_global
[commit]
  template = ~/.gitmessage.txt
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[alias]
	a = add -A
	cam = commit -a -m
	t = tag
  ms = merge --squash
	b = branch
	bd = branch -d
	po = push origin
	pod = push origin -d
  fp = fetch --prune
